body{
  margin:0;
  padding:0;
  background: rgb(177,245,255);
  background: linear-gradient(90deg, rgba(177,245,255,1) 0%, rgba(243,251,255,1) 12%, rgba(243,251,255,1) 88%, rgba(177,245,255,1) 100%);
}