body{
    background-color:red;
}


.car{
    font-family: 'Dosis', sans-serif;
    margin: 10px;
}

.bor{
    border: 1px solid black;
}

.paper {
    background: #8b0500;
    padding: 30px;
    position: relative;
    margin-top:10px;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid rgb(29, 27, 27);
    
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #EAD3A8;
    margin-left:-100px;
  }
  
  .paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
    margin-left:-100px;
  }
  
  .paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
    margin-left:-100px;
  }