.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .videoContainer iframe,
    .videoContainer object,
    .videoContainer embed {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 90%;
    height: 93%;
    border: 14px double #091A26;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-left:7px;
    }